
" Set leader keys
let mapleader = " "
let maplocalleader = " "

" Key mappings
" Go to Project View
nnoremap <leader>pv :Ex<CR>

" Disable highlights after search
nnoremap <Esc> :nohlsearch<CR>

" Diagnostic keymaps (Removed: vim.diagnostic not available in Vim)
" Use <leader>e, <leader>q for something else or leave unbound.

" Exit terminal mode
tnoremap <Esc><Esc> <C-\><C-n>

" Disable arrow keys in normal mode
nnoremap <left> :echo "Use h to move!!"<CR>
nnoremap <right> :echo "Use l to move!!"<CR>
nnoremap <up> :echo "Use k to move!!"<CR>
nnoremap <down> :echo "Use j to move!!"<CR>

" Split navigation shortcuts
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k

" Move lines
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" Indent lines
vnoremap < <gv
vnoremap > >gv

" Center screen when scrolling
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

" Center screen when searching
nnoremap n nzzzv
nnoremap N Nzzzv

" Delete without copying
nnoremap <leader>d "_d
vnoremap <leader>d "_d

nnoremap x "_x
vnoremap x "_x
nnoremap X "_X
vnoremap X "_X

nnoremap c "_c
vnoremap c "_c
nnoremap C "_C
vnoremap C "_C

" File formatting (Removed: depends on LSP)
" Bind <leader>f for another purpose or leave unbound.

" Disable default Space key behavior
nnoremap <Space> <Nop>

" Replace word under cursor
nnoremap <leader>rw :%s/\<<C-r><C-w>\>//g<Left><Left>


" Set tab width
set tabstop=4
set softtabstop=4
set shiftwidth=4
set expandtab

" Show line number and make it relative
set number
set relativenumber

" Enable mouse mode
set mouse=a

" Don't show the mode (already in status line)
set noshowmode

" Sync clipboard between OS and Vim
set clipboard=unnamedplus

" Enable break indent
set breakindent

" Save undo history
if has('persistent_undo')
    let undodir=expand('~/.vim/undodir')
    silent !mkdir -p ~/.vim/undodir
    set undofile
endif

" Case-insensitive searching unless \C or capital in search
set ignorecase
set smartcase

" Keep signcolumn on by default
set signcolumn=yes

" Decrease update time
set updatetime=250
set timeoutlen=300

" Configure split behavior
set splitright
set splitbelow

" Display certain whitespace characters
set list
set listchars=tab:»\ ,trail:·,nbsp:␣

" Preview substitutions live
set inccommand=split

" Highlight the current cursor line
set cursorline

" Minimal number of screen lines to keep above and below the cursor
set scrolloff=10

" Highlight search results
set hlsearch
